section {
    height: 100vh;
}

* {
    color: white;
}

body {
    margin-left: 1cm;
    margin-right: 1.7cm;
    background-color: #0D1B2A;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

/* -------------------->Home page<-------------------- */
.navBar {
    margin-left: 530px;
    margin-bottom: 5%;
}

.homeUl {
    text-align: center;
    font-size: 23px;
    margin-top: -15px;
}

.homeUl li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    right: 9%;
}

.homeUl li a {
    text-decoration: none;
    color: white;
}

.homeUl li a:hover {
    color: #00CFFF;
    text-decoration: underline;
}

.image {
    position: relative;
    height: 400px;
    width: auto;
    left: 10%;
    top: 50px;
    border-radius: 20px;
    z-index: 2;

    box-shadow: 0 0 15px rgba(14, 231, 231, 0.4),
        0 0 25px rgba(6, 243, 243, 0.3),
        0 0 35px rgba(7, 235, 235, 0.2);
}

.image {
    animation: haloGlow 10s ease-in-out infinite;
}

.intro {
    font-size: 50PX;
    display: inline;
    position: relative;
    left: 340px;
    bottom: 290px;
}

.hobie {
    font-size: 40px;
    font-style: bold;
    display: inline;
    position: relative;
    right: 200px;
    bottom: 216px;
}

.paragraph {
    font-size: 25px;
    height: 30px;
    width: 65%;
    text-align: left;
    margin-left: auto;
    margin-right: 50px;
    line-height: 1.5;
    position: relative;
    top: -200px;
    left: 30px;
}

.hire {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    line-height: 40px;
    background-color: #00CFFF;
    color: black;
    position: relative;
    left: 870px;
    top: -10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.hire:hover {
    background-color: gold;
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

.logo {
    font-family: 'Fredoka One';
    display: inline;
    position: relative;
    font-size: 40px;
    color: rgb(239, 169, 5);
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

/* -------------------->About page<-------------------- */
.about-container {
    position: relative;
    top: 140px;
}

.aboutphoto {
    position: relative;
    left: 70%;
    top: -520px;
    width: 450px;
    height: 500px;
    z-index: 2;
}

.hexagon-glow {
    width: 100%;
    height: 100%;
    position: relative;
    filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 40px rgba(0, 200, 255, 0.6)) drop-shadow(0 0 60px rgba(0, 150, 255, 0.4));
    animation: haloGlow 3s ease-in-out infinite;
    padding: 10px;
}

.hexagon {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background: rgb(3, 178, 209);
    z-index: 1;
    transform: translateZ(0);
}

@keyframes haloGlow {
    from {
        filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.8)) drop-shadow(0 0 40px rgba(0, 200, 255, 0.6)) drop-shadow(0 0 60px rgba(0, 150, 255, 0.4));
    }

    to {
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 1)) drop-shadow(0 0 60px rgba(0, 200, 255, 0.8)) drop-shadow(0 0 90px rgba(0, 150, 255, 0.6));
    }
}

.hexagon img.inside {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    top: 30px;
    left: 5%;
}

.AboutH1 {
    text-align: center;
    font-size: 53px;
    position: relative;
    right: 38%;
    top: 20px;
}

.Abouth3 {
    text-align: center;
    font-size: 30px;
    position: relative;
    right: 39%;
    top: -30px;
}

.AboutP {
    line-height: 1.5;
    height: auto;
    width: 940px;
    text-align: left;
    position: relative;
    left: 3%;
    top: -50px;
    font-size: 25px;
}

/* -------------------->Skill page<-------------------- */
.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.technical {
    margin-right: 5%;
    height: 430px;
    width: 50%;
    display: inline-block;
    border: 4px solid black;
    position: relative;
    left: 4%;
    top: 40px;
    background-color: #00CFFF;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.professional {
    margin-right: 5%;
    height: 430px;
    width: 50%;
    display: inline-block;
    border: 2px solid black;
    position: relative;
    left: 4%;
    top: 40px;
    background-color: #00CFFF;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.techskill,
.profskill {
    list-style-type: none;
    padding-bottom: 5%;

}

.technical h2,
.professional h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.technical ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.skills-heading {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    position: relative;
    left: 4%;
    padding-top: 75px;
}

.skills {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.skills-subtitle {
    font-size: 30px;
    color: white;
    display: inline-block;
    position: relative;
    top: -10px;
}

i,
svg {
    font-size: 60px;
}

.icon-box {
    margin-right: 15px;
    margin-left: 33px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #1E1E1E;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-box:hover {
    background-color: rgb(11, 53, 2);
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.skill-name {
    display: block;
    text-align: center;
    font-size: 16px;
    color: black;
}

.profskill {
    position: relative;
    top: -20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profskill li {
    margin-bottom: 16px;
}

.profskill p {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
}

.profskill .bar {
    display: block;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bar:hover {
    box-shadow: 0 8px 20px rgb(63, 49, 3), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: box-shadow 0.3s ease;
    transform: translateY() scale(1.05);
    box-shadow: 0 10px 20px rgba(233, 35, 17, 0.7);
}

.profskill .bar span {
    display: block;
    height: 100%;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(232, 103, 103, 1)100%);
    border-radius: 10px;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: var(--skill-width);
    }
}

.profskill .bar span {
    display: block;
    height: 100%;
    background-color: #2196F3;
    border-radius: 10px;
    width: 0;
    animation: fillBar 2s forwards;
}

.Multimedia {
    --skill-width: 80%;
}

.Fast {
    --skill-width: 80%;
}

.Problem {
    --skill-width: 90%;
}

.Creativity {
    --skill-width: 83%;
}

.Team {
    --skill-width: 90%;
}

/* -------------------->Project page<-------------------- */
.project-container li {
    list-style-type: none;
    position: relative;
}

.project-container h1 {
    font-size: 50px;
    position: relative;
    left: 4%;
    bottom: -50px;
}

.project-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 30%;
    position: relative;
    left: 4%;
    border-radius: 15px;
    overflow: hidden;
    z-index: 0;
}

.project-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background:
        linear-gradient(90deg, rgba(12, 12, 12, 0.96) 0%, rgba(4, 22, 43, 0.96) 45%, rgb(255, 255, 255) 50%, rgba(3, 3, 3, 0.96) 55%, rgba(11, 12, 12, 0.96) 100%),
        linear-gradient(180deg, rgba(4, 22, 43, 0.96) 0%, rgba(4, 22, 43, 0.96) 45%, rgb(80, 85, 150) 50%, rgba(4, 22, 43, 0.96) 55%, rgba(22, 22, 22, 0.96) 100%);
    border-radius: 20px;
    animation: rotate 9s linear infinite;
    z-index: -2;
}

.project-card::after {
    content: "";
    position: absolute;
    inset: 6px;
    background-color: #00CFFF;
    border-radius: 12px;
    z-index: -1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.project-card p {
    color: black;
    justify-content: left;
    position: relative;
    left: 2%;

}

.project-card h3 {
    font-size: 25px;
    color: black;
    text-align: center;
    text-decoration: dotted;
    position: relative;
    top: -10px;
}

.project_para {
    margin: 0;
    padding: 0;
    height: 49px;
    width: 90%;
    overflow-x: hidden;
    scrollbar-width: none;
    position: relative;
    left: 5%;
    top: -29px;
    display: flex;
    align-items: flex-start;
}

.project_para * {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.project-card img {
    height: 130px;
    width: 45%;
    border: 5px solid rgb(255, 248, 240);
    position: relative;
    left: 26%;
    top: -30px
}

a {
    text-decoration: none;
}

.project-card button {

    height: 30px;
    width: 20%;
    background-color: gold;
    color: black;
    font-size: 18px;
    position: relative;
    left: 40%;
    top: -29px;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;

}

.project-card button:hover {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

/* ------------------->Contact page<-------------------- */
.socials-container{
    display: flex;
    gap: 20px;
}

.socials-container a{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: background-color 0.3s;
}

.socials-container a svg{
    height: 32px;
}

.socials-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
    pointer-events: none; /* FIX: prevents tooltip from appearing on form focus */
}

.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
    pointer-events: none; /* FIX: prevents tooltip from appearing on form focus */
}

.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}

.form {
    background-color: white;
    margin-top: 5ch;
    margin-left: 50%;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 350px;
}

.formfill, .formfill1, .formfill2, .formfill3 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formfill label,
.formfill1 label,
.formfill2 label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.formfill input,
.formfill1 input,
.formfill2 textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.formfill input:focus,
.formfill1 input:focus,
.formfill2 textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.formfill2 textarea {
    color: black;
    resize: vertical;
    min-height: 80px;
}

.formfill3 button {
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.formfill3 button:hover {
    background-color: #45a049;
}
#Contact h1{
    font-size: 50px;
}